* {
  border: 1px solid #f00;
}

html,
body {
  /* background-color: #1d1e22; */
  /* background-image: linear-gradient(
    to bottom,
    #595f69,
    #6a767a,
    #818b8b,
    #9ba19e,
    #b6b7b4
  );
  height: 100%;
  width: 100%; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.clip-text {
  padding: 10px;
  background: url("miami.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: #00000047;
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 900;
  letter-spacing: 10px;
  user-select: none;
  border-top: solid 10px #00000057;
  border-bottom: solid 10px #00000057;
  text-align: center;
}
